 .login {
     background-color: red;
     border: none;
     padding: 10px;
     border-radius: 10px;
     color: white;
     text-transform: uppercase;
     cursor: pointer;
     margin: 20px;
 }

 #sub {
     background-color: blue;
     border: none;
     padding: 10px;
     border-radius: 10px;
     color: white;
     text-transform: uppercase;
     cursor: pointer;
     margin: 20px;
 }

 button {
     font-size: 40px;
 }

 button:hover {
     background-color: white;
 }